<center class="wrapper">
        <div class="webkit">

            <!-- Main Table -->
            <table class="outer" align="center" width="100%">

                <tr width="100%">
                    <td width="100%" style="padding: 0;">
                        <table
                            width="100%"
                            style="
                                border-spacing: 0;
                            "
                        >
                            <!-- Navbar -->
                            <tr>
                                <td
                                    style="
                                        background-image: linear-gradient(80deg, #4369BD , #6093D3);
                                        padding: 32px; 
                                        text-align: center;
                                    "
                                >
                                    <a href="https://ivexlibrary.sk/" target="_blanck"><img width="162,76px" src="https://ivexlibrary.sk/img/logo.png" alt="Ivex Logo"></a>
                                </td>
                            </tr>

                            <!-- Heading -->
                            <tr>
                                <td
                                    style="
                                        background-color: rgba(96, 147, 211, 0.1);
                                        padding: 40px; 
                                        text-align: left;
                                    "
                                >
                                    <h1
                                        style="
                                            color: #4369BD;
                                            font-weight: 700px;
                                            font-size: 36px;
                                            line-height: 43,88px;
                                            Margin: 0;
                                            padding: 0;
                                        "
                                    >Novo pridaná kniha</h1>
                                    <p
                                        style="
                                            Margin: 0px;
                                            padding-bottom: 16px;
                                            font-size: 18px;
                                            line-height: 22px;
                                            color: #4369BD;
                                        "
                                    >do knižnice. Zaujala ťa? Skús si ju omrknút!</p>
                                    <div class="line"></div>
                                </td>
                            </tr>

                            <tr>
                                <td
                                    style="
                                        padding: 0 40px;
                                        background-color: rgba(96, 147, 211, 0.1);
                                    "
                                >
                                    <img src="https://ivexlibrary.sk/img{{first_image}}" alt="" width="278px">
                                </td>
                            </tr>

                            <!-- Button -->
                            <tr>
                                <td 
                                    style="
                                        background-color: rgba(96, 147, 211, 0.1);
                                        padding: 30px 40px 70px 112px; 
                                        text-align: left;
                                    "
                                >
                                    <a  href="https://ivexlibrary.sk/script/{{script_id}}"
                                        style="
                                            font-size: 16px;
                                            line-height: 20px;
                                            padding: 10px 32px;
                                            background-color: #FFC50F;
                                            border-radius: 30px;
                                            color: #2D406A;
                                            font-weight: 700;
                                            text-decoration: none;
                                            display: inline-block;
                                        "
                                    >O knihe</a>
                                </td>
                            </tr>

                            <!-- Wave -->
                            <tr>
                                <td
                                    style="
                                        Margin: 0px;
                                        text-align: right;
                                        background-color: #FFFFFF;
                                        padding: 0;
                                    "
                                    width="100%"
                                >
                                    <img width="100%" src="https://ivexlibrary.sk/img/wave-down-gray.png" alt="Wave Gray">
                                </td>
                            </tr>

                            <!-- Podobné publikácie - Heading -->
                            <tr>
                                <td
                                    style="
                                        background-color: #FFFFFF;
                                        padding: 80px 40px 40px 40px;
                                        text-align: left;
                                    "
                                >
                                    <h1
                                        style="
                                            color: #4369BD;
                                            font-weight: 700px;
                                            font-size: 36px;
                                            line-height: 43,88px;
                                            Margin: 0;
                                            padding: 0;
                                        "
                                    >Podobné publikácie</h1>
                                </td>
                            </tr>

                            <!-- Podobné publikácie - Description -->
                            <tr>
                                <td
                                    style="
                                        background-color: #FFFFFF;
                                        padding-bottom: 80px;
                                    "
                                >

                                    <table width="100%" style="border-spacing: 0;">
                                        <tr>
                                            <td class="columns">
                                                <table class="column">

                                                    <tr>
                                                        <td 
                                                            style="padding: 0 20px 0 40px;"
                                                        >
                                                            <table class="content">
                                                                <!-- Image -->
                                                                <tr>
                                                                    <td style="padding-bottom: 16px;">
                                                                        <img src="https://ivexlibrary.sk/img{{second_image}}" alt="" width="224px">
                                                                    </td>
                                                                </tr>

                                                                <!-- Image Description -->
                                                                <tr>
                                                                    <td style="padding-bottom: 8px;">
                                                                        <h5
                                                                            style="
                                                                                Margin: 0;
                                                                                font-weight: 700;
                                                                                color: #4369BD;
                                                                                font-size: 16px;
                                                                                line-height: 19.5px;
                                                                            "
                                                                        >{{second_name}}</h5>
                                                                        <p
                                                                            style="
                                                                                Margin: 0;
                                                                                font-weight: 400;
                                                                                color: #2D406A;
                                                                                font-size: 16px;
                                                                                line-height: 19,5px;
                                                                                padding: 16px 0 8px 0;
                                                                            "
                                                                        >{{second_author}}</p>
                                                                        <p
                                                                            style="
                                                                                Margin: 0;
                                                                                font-weight: 400;
                                                                                color: #2D406A;
                                                                                font-size: 16px;
                                                                                line-height: 19,5px;
                                                                            "
                                                                        >{{second_year}}</p>
                                                                        <a  href="https://ivexlibrary.sk/script/{{second_id}}"
                                                                            style="
                                                                                Margin-top: 20px;
                                                                                Margin-left: -4px;
                                                                                font-size: 16px;
                                                                                line-height: 20px;
                                                                                padding: 10px 45px;
                                                                                background-color: #FFC50F;
                                                                                border-radius: 30px;
                                                                                color: #2D406A;
                                                                                font-weight: 700;
                                                                                text-decoration: none;
                                                                                display: inline-block;
                                                                            "
                                                                        >Čítať</a>
                                                                    </td>
                                                                </tr>
                                                            </table>
                                                        </td>
                                                    </tr>

                                                </table>

                                                <table class="column">

                                                    <tr>
                                                        <td 
                                                            class="second-image"
                                                            style="padding: 0 40px 0 20px;"
                                                        >
                                                            <table class="content">
                                                                <!-- Image -->
                                                                <tr>
                                                                    <td style="padding-bottom: 16px;">
                                                                        <img src="https://ivexlibrary.sk/img/{{third_image}}" alt="" width="224px">
                                                                    </td>
                                                                </tr>

                                                                <!-- Image Description -->
                                                                <tr>
                                                                    <td style="padding-bottom: 8px;">
                                                                        <h5
                                                                            style="
                                                                                Margin: 0;
                                                                                font-weight: 700;
                                                                                color: #4369BD;
                                                                                font-size: 16px;
                                                                                line-height: 19.5px;
                                                                            "
                                                                        >{{third_name}}</h5>
                                                                        <p
                                                                            style="
                                                                                Margin: 0;
                                                                                font-weight: 400;
                                                                                color: #2D406A;
                                                                                font-size: 16px;
                                                                                line-height: 19,5px;
                                                                                padding: 16px 0 8px 0;
                                                                            "
                                                                        >{{third_author}}</p>
                                                                        <p
                                                                            style="
                                                                                Margin: 0;
                                                                                font-weight: 400;
                                                                                color: #2D406A;
                                                                                font-size: 16px;
                                                                                line-height: 19,5px;
                                                                            "
                                                                        >{{third_year}}</p>
                                                                        <a  href="https://ivexlibrary.sk/script/{{third_id}}"
                                                                            style="
                                                                                Margin-top: 20px;
                                                                                Margin-left: -4px;
                                                                                font-size: 16px;
                                                                                line-height: 20px;
                                                                                padding: 10px 45px;
                                                                                background-color: #FFC50F;
                                                                                border-radius: 30px;
                                                                                color: #2D406A;
                                                                                font-weight: 700;
                                                                                text-decoration: none;
                                                                                display: inline-block;
                                                                            "
                                                                        >Čítať</a>
                                                                    </td>
                                                                </tr>
                                                            </table>
                                                        </td>
                                                    </tr>

                                                </table>

                                            </td>
                                        </tr>
                                    </table>

                                </td>
                            </tr>


                             <!-- Informuj sa -->
                             <tr>
                                <td
                                    style="
                                        background-color: #FFFFFF;
                                        padding-left: 40px; 
                                        padding-right: 40px; 
                                        padding-bottom: 60px; 
                                        text-align: left;
                                    "
                                >
                                    <table width="100%" style="border-spacing: 0;">
                                        <tr>
                                            <td style="padding-bottom: 24px;">
                                                <h1
                                                    style="
                                                        color: #4369BD;
                                                        font-weight: 700px;
                                                        font-size: 36px;
                                                        line-height: 43,88px;
                                                        Margin: 0;
                                                        padding: 0;
                                                    "
                                                >Informuj sa</h1>
                                                <p
                                                    style="
                                                        Margin-bottom: 16px;
                                                        Margin-top: 0px;
                                                        padding: 0;
                                                        font-size: 18px;
                                                        line-height: 22px;
                                                        color: #4369BD;
                                                    "
                                                >o všetkých novinkách, ktoré postupne pripravujeme</p>
                                                <div class="line"></div>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td>
                                                <p
                                                    style="
                                                        Margin: 0;
                                                        font-size: 16px;
                                                        line-height: 32px;
                                                        color: #2D406A;
                                                        font-weight: 500;
                                                    "
                                                >
                                                    Sledujete nás na sociálnych sieťach <a style="text-decoration: none; color: #6093D3;" href="https://www.instagram.com/ivexprint/" target="_blanck">Instagram</a>, <a style="text-decoration: none; color: #6093D3;" href="https://www.facebook.com/IVEXPrint/" target="_blanck">Facebook</a> pre najnovšie produktové update, knižné novinky, ponuky a mnohé ďalšie.
                                                </p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <a
                                                    href='{{unsubscribe_url}}'
                                                    style="
                                                        Margin: 0;
                                                        font-size: 16px;
                                                        line-height: 32px;
                                                        color: #2D406A;
                                                        font-weight: 500;
                                                    "
                                                >
                                                    Nechcem už dostávať podobné emaily
                                                </a>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>

                            <!-- Wave -->
                            <tr>
                                <td
                                    style="
                                        Margin: 0;
                                        background-image: linear-gradient(80deg, #4369BD , #6093D3);
                                        text-align: right;
                                        padding-bottom: 20px;
                                        padding-top: 0;
                                    "
                                    width="100%"
                                >
                                    <img width="100%" src="https://ivexlibrary.sk/img/wave-white.png" alt="Wave White">
                                </td>
                            </tr>

                            <!-- Footer -->
                            <tr>
                                <td
                                    style="
                                        background-image: linear-gradient(80deg, #4369BD , #6093D3);
                                        padding: 0 40px 40px 40px;
                                    "
                                >
                                    <table width="100%" style="border-spacing: 0;">
                                        <tr>
                                            <td
                                                style="padding-bottom: 40px;"
                                            >
                                                <a href="https://ivexlibrary.sk/" target="_blanck"><img width="162,76px" src="https://ivexlibrary.sk/img/logo.png" alt="Ivex Logo"></a>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td class="columns">
                                                <table class="column-footer">
                                                    <tr>
                                                        <td>
                                                            <p
                                                                style="
                                                                    color: #FFFFFF;
                                                                    font-size: 16px;
                                                                    line-height: 20px;
                                                                    font-weight: 300;
                                                                    Margin-left: -1px;
                                                                    Margin-top: 0px;
                                                                    Margin-bottom: 0px;
                                                                    padding-bottom: 16px;
                                                                "
                                                            > <span style="font-weight: 700;">IČO:</span>&nbsp;52 526 151</p>
                                                        </td>
                                                    </tr>
                                                </table>

                                                <table class="column-footer">
                                                    <tr>
                                                        <td>
                                                            <p
                                                                style="
                                                                    color: #FFFFFF;
                                                                    font-size: 16px;
                                                                    line-height: 20px;
                                                                    font-weight: 300;
                                                                    Margin: 0;
                                                                    padding-bottom: 16px;
                                                                "
                                                            > <span style="font-weight: 700;">DIČ:</span>&nbsp;2121064099</p>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td>
                                                <p
                                                    style="
                                                        color: #FFFFFF;
                                                        font-size: 16px;
                                                        line-height: 20px;
                                                        font-weight: 300;
                                                        Margin: 0;
                                                        padding-bottom: 16px;
                                                    "
                                                > <span style="font-weight: 700;">Číslo účtu:</span>&nbsp;SK19 0900 0000 0051 6259 2152</p>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td>
                                                <a
                                                    href="mailto:predplatne@ivexlibrary.sk"
                                                    style="
                                                        color: #FFFFFF;
                                                        font-size: 16px;
                                                        line-height: 20px;
                                                        font-weight: 300;
                                                        Margin: 0;
                                                        text-decoration: none;
                                                    "
                                                > <span style="font-weight: 700;">Email:</span>&nbsp;predplatne@ivexlibrary.sk</a>
                                            </td>
                                        </tr>

                                    </table>
                                </td>
                            </tr>

                        </table>
                    </td>
                </tr>

            </table>

        </div>
    </center>