<center class="wrapper">
        <div class="webkit">

            <!-- Main Table -->
            <table class="outer" align="center" width="100%">

                <tr width="100%">
                    <td width="100%" style="padding: 0;">
                        <table
                            width="100%"
                            style="
                                border-spacing: 0;
                            "
                        >
                            <!-- Navbar -->
                            <tr>
                                <td
                                    style="
                                        background-image: linear-gradient(80deg, #4369BD , #6093D3);
                                        padding: 32px; 
                                        text-align: center;
                                    "
                                >
                                    <a href="https://ivexlibrary.sk/" target="_blanck"><img width="162,76px" src="https://ivexlibrary.sk/img/logo.png" alt="Ivex Logo"></a>
                                </td>
                            </tr>

                            <!-- Heading -->
                            <tr>
                                <td
                                    style="
                                        background-color: rgba(96, 147, 211, 0.1);
                                        padding: 40px; 
                                        text-align: left;
                                    "
                                >
                                    <h1
                                        style="
                                            color: #4369BD;
                                            font-weight: 700px;
                                            font-size: 36px;
                                            line-height: 43,88px;
                                            Margin: 0;
                                            padding: 0;
                                        "
                                    >Sprístupnili</h1>
                                    <p
                                        style="
                                            Margin: 0px;
                                            padding-bottom: 16px;
                                            font-size: 18px;
                                            line-height: 22px;
                                            color: #4369BD;
                                        "
                                    >sme ti všetky knihy v IVEX library.</p>
                                    <div class="line"></div>
                                </td>
                            </tr>

                            <!-- Fakturačné údaje -->
                            <tr>
                                <td
                                    style="
                                        background-color: rgba(96, 147, 211, 0.1);
                                    "
                                >

                                    <table width="100%" style="border-spacing: 0;">
                                        <tr>
                                            <td class="columns">
                                                <table class="column">

                                                    <tr>
                                                        <td 
                                                            style="padding: 0 40px;"
                                                        >
                                                            <table class="content">
                                                                <tr>
                                                                    <td style="padding-bottom: 16px;">
                                                                        <h5
                                                                            style="
                                                                                Margin: 0;
                                                                                font-weight: 700;
                                                                                color: #2D406A;
                                                                                font-size: 16px;
                                                                                line-height: 32px;
                                                                            "
                                                                        >Fakturačné údaje</h5>
                                                                    </td>
                                                                </tr>

                                                                <tr>
                                                                    <td style="padding-bottom: 8px;">
                                                                        <h5
                                                                            style="
                                                                                Margin: 0;
                                                                                font-weight: 700;
                                                                                color: #2D406A;
                                                                                font-size: 16px;
                                                                                line-height: 32px;
                                                                            "
                                                                        >Meno</h5>
                                                                        <p
                                                                            style="
                                                                                Margin: 0;
                                                                                font-weight: 400;
                                                                                color: #2D406A;
                                                                                font-size: 16px;
                                                                                line-height: 32px;
                                                                            "
                                                                        >{{first_name}}</p>
                                                                    </td>
                                                                </tr>

                                                                <tr>
                                                                    <td style="padding-bottom: 8px;">
                                                                        <h5
                                                                            style="
                                                                                Margin: 0;
                                                                                font-weight: 700;
                                                                                color: #2D406A;
                                                                                font-size: 16px;
                                                                                line-height: 32px;
                                                                            "
                                                                        >Priezvisko</h5>
                                                                        <p
                                                                            style="
                                                                                Margin: 0;
                                                                                font-weight: 400;
                                                                                color: #2D406A;
                                                                                font-size: 16px;
                                                                                line-height: 32px;
                                                                            "
                                                                        >{{last_name}}</p>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td style="padding-bottom: 8px;">
                                                                        <h5
                                                                            style="
                                                                                Margin: 0;
                                                                                font-weight: 700;
                                                                                color: #2D406A;
                                                                                font-size: 16px;
                                                                                line-height: 32px;
                                                                            "
                                                                        >Cena</h5>
                                                                        <p
                                                                            style="
                                                                                Margin: 0;
                                                                                font-weight: 400;
                                                                                color: #2D406A;
                                                                                font-size: 16px;
                                                                                line-height: 32px;
                                                                            "
                                                                        >{{price}}</p>
                                                                    </td>
                                                                </tr>
                                                            </table>
                                                        </td>
                                                    </tr>

                                                </table>

                                                <table class="column">

                                                    <tr>
                                                        <td
                                                            style="padding: 0 40px;"
                                                        >
                                                            <table class="content">
                                                                <tr>
                                                                    <td style="padding-bottom: 16px;">
                                                                        <h5
                                                                            style="
                                                                                Margin: 0;
                                                                                font-weight: 700;
                                                                                color: #2D406A;
                                                                                font-size: 16px;
                                                                                line-height: 32px;
                                                                            "
                                                                        >Produkt</h5>
                                                                    </td>
                                                                </tr>

                                                                <tr>
                                                                    <td style="padding-bottom: 8px;">
                                                                        <h5
                                                                            style="
                                                                                Margin: 0;
                                                                                font-weight: 700;
                                                                                color: #2D406A;
                                                                                font-size: 16px;
                                                                                line-height: 32px;
                                                                            "
                                                                        >Predplatné</h5>
                                                                        <p
                                                                            style="
                                                                                Margin: 0;
                                                                                font-weight: 400;
                                                                                color: #2D406A;
                                                                                font-size: 16px;
                                                                                line-height: 32px;
                                                                            "
                                                                        >{{subscription}}</p>
                                                                    </td>
                                                                </tr>

                                                                <tr>
                                                                    <td style="padding-bottom: 8px;">
                                                                        <h5
                                                                            style="
                                                                                Margin: 0;
                                                                                font-weight: 700;
                                                                                color: #2D406A;
                                                                                font-size: 16px;
                                                                                line-height: 32px;
                                                                            "
                                                                        >Platnosť skušobnej doby</h5>
                                                                        <p
                                                                            style="
                                                                                Margin: 0;
                                                                                font-weight: 400;
                                                                                color: #2D406A;
                                                                                font-size: 16px;
                                                                                line-height: 32px;
                                                                            "
                                                                        >{{trial}} dní</p>
                                                                    </td>
                                                                </tr>

                                                                <tr>
                                                                    <td style="padding-bottom: 8px;">
                                                                        <h5
                                                                            style="
                                                                                Margin: 0;
                                                                                font-weight: 700;
                                                                                color: #2D406A;
                                                                                font-size: 16px;
                                                                                line-height: 32px;
                                                                            "
                                                                        >Predplatené do</h5>
                                                                        <p
                                                                            style="
                                                                                Margin: 0;
                                                                                font-weight: 400;
                                                                                color: #2D406A;
                                                                                font-size: 16px;
                                                                                line-height: 32px;
                                                                            "
                                                                        >{{subscription_ending}}</p>
                                                                    </td>
                                                                </tr>
                                                            </table>
                                                        </td>
                                                    </tr>

                                                </table>

                                            </td>
                                        </tr>
                                    </table>

                                </td>
                            </tr>

                            <!-- Button -->
                            <tr>
                                <td 
                                    style="
                                        background-color: rgba(96, 147, 211, 0.1);
                                        padding: 40px; 
                                        text-align: left;
                                    "
                                >
                                    <a  href={{link}}
                                        style="
                                            font-size: 16px;
                                            line-height: 20px;
                                            padding: 10px 22px;
                                            background-color: #FFC50F;
                                            border-radius: 30px;
                                            color: #2D406A;
                                            font-weight: 700;
                                            text-decoration: none;
                                        "
                                    >Aktivovať profil</a>
                                </td>
                            </tr>

                            <!-- Wave -->
                            <tr>
                                <td
                                    style="
                                        Margin: 0px;
                                        text-align: right;
                                        background-color: #FFFFFF;
                                        padding: 0;
                                    "
                                    width="100%"
                                >
                                    <img width="100%" src="https://ivexlibrary.sk/img/wave-down-gray.png" alt="Wave Gray">
                                </td>
                            </tr>

                            <!-- Description -->
                            <tr>
                                <td
                                    style="
                                        background-color: #FFFFFF;
                                        padding: 17px 40px 60px 40px; 
                                        text-align: left;
                                    "
                                >  
                                    <table width="100%" style="border-spacing: 0;">
                                        <tr>
                                            <td>
                                                <p
                                                    style="
                                                        font-size: 16px;
                                                        line-height: 32px;
                                                        color: #2D406A;
                                                        font-weight: 400;
                                                    "
                                                >
                                                    Ahoj {{first_name}},
                                                </p>

                                                <p
                                                    style="
                                                        font-size: 16px;
                                                        line-height: 32px;
                                                        color: #2D406A;
                                                        font-weight: 400;
                                                    "
                                                >
                                                    môžeš sa začať vzdelávať pomocou IVEX library. Máš prístup ku všetkým knihám na 7 dní zadarmo. Svoje osobné údaje si môžeš kedykoľvek zmeniť vo svojom profile na webe IVEX library.
                                                </p>
                                                
                                                <p
                                                    style="
                                                        font-size: 16px;
                                                        line-height: 32px;
                                                        color: #2D406A;
                                                        font-weight: 400;
                                                    "
                                                >
                                                    Ďakujeme veľmi pekne za prejavenú dôveru a pevne veríme, že naplníme tvoje očakávania.
                                                </p>

                                                <p
                                                    style="
                                                        font-size: 16px;
                                                        line-height: 32px;
                                                        color: #2D406A;
                                                        font-weight: 400;
                                                    "
                                                >   
                                                    <span style="display: block;">S pozdravom,</span>
                                                    Tím IVEX library
                                                </p>

                                                <p
                                                    style="
                                                        font-size: 16px;
                                                        line-height: 32px;
                                                        color: #2D406A;
                                                        font-weight: 400;
                                                    "
                                                >   
                                                    Link na aktiváciu profilu:

                                                    <a href={{link}} style="display: block; word-break: break-all;">{{link}}</a>
                                                </p>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>

                            <!-- About Us -->
                            <tr>
                                <td
                                    style="
                                        background-color: #FFFFFF;
                                        padding-left: 40px; 
                                        padding-right: 40px; 
                                        padding-bottom: 60px; 
                                        text-align: left;
                                    "
                                >
                                    <table width="100%" style="border-spacing: 0;">
                                        <tr>
                                            <td style="padding-bottom: 24px;">
                                                <h1
                                                    style="
                                                        color: #4369BD;
                                                        font-weight: 700px;
                                                        font-size: 36px;
                                                        line-height: 43,88px;
                                                        Margin: 0;
                                                        padding: 0;
                                                    "
                                                >O nás</h1>
                                                <p
                                                    style="
                                                        Margin-bottom: 16px;
                                                        Margin-top: 0px;
                                                        padding: 0;
                                                        font-size: 18px;
                                                        line-height: 22px;
                                                        color: #4369BD;
                                                    "
                                                >a projektu IVEX Library</p>
                                                <div class="line"></div>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td>
                                                <p
                                                    style="
                                                        Margin: 0;
                                                        font-size: 16px;
                                                        line-height: 32px;
                                                        color: #2D406A;
                                                        font-weight: 400;
                                                    "
                                                >
                                                    IVEX Library zoskupuje všetky učebné materiály pod jednu strechu, aby študenti naďalej nemali problém s nedostatočným prístupom ku vzdelaniu. Online forma vzdelávania sa je omnoho prívetivejšia ku životnému prostrediu okolo nás. Pre to sa IVEX Library snaží ísť rukou v ruku s cieľmi EÚ do roku 2030, ohľadom digitalizácie a rešpektovaniu environmentálnej stránky. Na Slovensku dlhodobo pretrváva problém s výskumným segmentom a práve online knižnica ma potenciál tento trend vylepšiť, vďaka ohodnoteniu výskumnej činnosti autorov. 
                                                </p>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>

                            <!-- Wave -->
                            <tr>
                                <td
                                    style="
                                        Margin: 0;
                                        background-image: linear-gradient(80deg, #4369BD , #6093D3);
                                        text-align: right;
                                        padding-bottom: 20px;
                                        padding-top: 0;
                                    "
                                    width="100%"
                                >
                                    <img width="100%" src="https://ivexlibrary.sk/img/wave-white.png" alt="Wave White">
                                </td>
                            </tr>

                            <!-- Footer -->
                            <tr>
                                <td
                                    style="
                                        background-image: linear-gradient(80deg, #4369BD , #6093D3);
                                        padding: 0 40px 40px 40px;
                                    "
                                >
                                    <table width="100%" style="border-spacing: 0;">
                                        <tr>
                                            <td
                                                style="padding-bottom: 40px;"
                                            >
                                                <a href="https://ivexlibrary.sk/" target="_blanck"><img width="162,76px" src="https://ivexlibrary.sk/img/logo.png" alt="Ivex Logo"></a>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td class="columns">
                                                <table class="column-footer">
                                                    <tr>
                                                        <td>
                                                            <p
                                                                style="
                                                                    color: #FFFFFF;
                                                                    font-size: 16px;
                                                                    line-height: 20px;
                                                                    font-weight: 300;
                                                                    Margin-left: -1px;
                                                                    Margin-top: 0px;
                                                                    Margin-bottom: 0px;
                                                                    padding-bottom: 16px;
                                                                "
                                                            > <span style="font-weight: 700;">IČO:</span>&nbsp;52 526 151</p>
                                                        </td>
                                                    </tr>
                                                </table>

                                                <table class="column-footer">
                                                    <tr>
                                                        <td>
                                                            <p
                                                                style="
                                                                    color: #FFFFFF;
                                                                    font-size: 16px;
                                                                    line-height: 20px;
                                                                    font-weight: 300;
                                                                    Margin: 0;
                                                                    padding-bottom: 16px;
                                                                "
                                                            > <span style="font-weight: 700;">DIČ:</span>&nbsp;2121064099</p>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td>
                                                <p
                                                    style="
                                                        color: #FFFFFF;
                                                        font-size: 16px;
                                                        line-height: 20px;
                                                        font-weight: 300;
                                                        Margin: 0;
                                                        padding-bottom: 16px;
                                                    "
                                                > <span style="font-weight: 700;">Číslo účtu:</span>&nbsp;SK19 0900 0000 0051 6259 2152</p>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td>
                                                <a
                                                    style="
                                                        color: #FFFFFF;
                                                        font-size: 16px;
                                                        line-height: 20px;
                                                        font-weight: 300;
                                                        Margin: 0;
                                                        text-decoration: none;
                                                    "
                                                > <span style="font-weight: 700;">Email:</span>&nbsp;predplatne@ivexlibrary.sk</a>
                                            </td>
                                        </tr>

                                    </table>
                                </td>
                            </tr>

                        </table>
                    </td>
                </tr>

            </table>

        </div>
    </center>